*{
    box-sizing: border-box;
}
.main-container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2%;
    padding: 10px;
    justify-content: center;
    align-items: center;

}
.nav{
    display: flex;
    color: blue;
    padding: 1%;
    gap: 10px;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    font-size: 80%;
    padding-left: 0%;

}
.nav h1{
    align-items: start;
    margin-left: 0;
    padding-left: 0;
}
.nav>div{
    display: flex;
    font-size: 87%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    

}
.nav button{
    width: 140px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 100%;
    font-weight: bold;

}
.top{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 3%;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 100%;
    max-width: 290px;
    min-height: 320px;
    background-color: red;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 3%;
    padding-bottom: 1%;
    
}
.container img{
    width: 40%;
    height: 35%;
}
.view{
    width: 35%;
    height: 20%;
    color: red;
    padding: 1%;
}
.mid{
     display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 3%;
    justify-content: center;
    align-items: center;
}
.container2{
     width: 100%;
    max-width: 290px;
    min-height: 320px;
    background-color: white;
    color: black;
    justify-content: center;
    text-align: center;
    padding: 3%;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px ;
    gap: 0;
}
.container2 img{
    width: 30%;
    height: 20%;
}
.container2> div{
    color: red;
    font-weight: 400;
    padding: 2%;
}
.footer{
    display: flex;
    padding: 2%;
    background-color: rgb(226, 221, 221);
    gap: 4%;

}
.footer img{
    width:40% ;
    height: 30%;
}
@media(max-width:768px){
.nav{
    flex-wrap: wrap;
    gap: 10px;

}
.nav>div{
    display: none;

}
.nav button{
    width: 120px;
    height: 40px;
    font-size: small;

}
.top{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 3%;
    gap: 20px;
}
.container{
    height: 300px;
    
}

.container img{
    width: 30%;
    height: 25%;
}
.view{
    width: 40%;
    height: 10%;
    padding: 1%;
}
.container2{
    gap: 10px;
}
.mid{
    grid-template-columns:repeat(2,1fr);
    gap: 20px;
}
.container2 img{
    width: 20%;
    height: 10%;
}
.footer{
    flex-direction: column;
}
}
@media(max-width:320px){
    .nav{
    flex-wrap: wrap;
    gap: 5px;

}
.nav>div{
    display: none;

}
.nav button{
    width: 100px;
    height: 40px;
    font-size: x-small;

}
.top{
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 3%;
    
}
.container{
    gap: 10px;

}
.container2>div{
    padding: 10px;
}

.container img{
    width: 30%;
    height: 25%;
}
.view{
    width: 35%;
    height: 10%;
    padding: 1%;
    margin-top: 3%;
}
.mid{
    grid-template-columns:1fr;
    gap: 20px;
    padding: 3%;
}
.container2 img{
    width: 20%;
    height: 10%;
}
.footer{
   flex-wrap: wrap;
    gap: 4%;
    font-size: 10px;
}
.footer img{
    width:40% ;
    height: 30%;
}
}